.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Glacial Indifference', sans-serif;
    cursor: pointer;
}
a {
  text-decoration: none;
}

.inline-block .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.topnav {
    display: flex;
    gap: 48px;
    position: absolute;
    right: 70px;
    top: 50px;
}

.special-style {
    color: #DE7875 !important;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
h1 {
    font-family: 'Lusitana', sans-serif;
    font-size: 44px;
    font-weight: bold;
}
#heroGrid h1 {
    font-family: 'Lusitana', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #22181c;
    margin-left: 70px;
    padding-top: 0px;
    margin-top: 0px;
}

.skills h1 {
    font-family: 'Lusitana', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #22181c;
    padding-top: 0px;
    margin-top: 50px;
}
.profile {
    width: 378px;
    height: 441px;
    padding: 1px;
}

button {
    width: 170px;
    height: 60px;
    background-color: #DE7875;
    border-color: #DE7875;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #571A0D;
    font-weight:bold;
    font-style: bold;
    border-radius: 10px;
}

@font-face {
    font-family: 'Glacial Indifference', sans-serif;
    src: url(/Resources/GlacialIndifference-Regular.woff);
}
@font-face {
    font-family: 'Lusitana', sans-serif;
    src: url(/Resources/Lusitana-Regular.ttf);
}
.column-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: -40px;
}

.column-text {
    display: grid;
    width: 650px;
    grid-template-columns: 1fr;
    grid-column-start: 2;
    grid-template-rows: 0fr;
    padding-right: 40px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.column-text p {
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 70px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;

  }
/* My Hobbies */
.hobbies h1{
    font-family: 'Lusitana', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #22181c;
    margin-left: 70px;
    margin-top: 100px;
    padding-top: 50px;
}
.hobbies{
    background-color: #F6CBC2;
}
.hobbies p {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.bento-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 30px;
}
/* Skills container */
skills {
    grid-column: 1 / 3; 
    grid-row: 2/3;
    }

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

/* Individual skill */
.skill {
    text-align: center;
    border: 1px solid #f48a74;
    border-radius: 10px;
}
.skill img{
    padding-top: 15px;
    padding-bottom: 0;
}
.skill h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Glacial Indifference', sans-serif;
}

.skill p {
    font-size: 16px;
    font-family: 'Glacial Indifference', sans-serif;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.skill:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.skill{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.sktitle {
    text-align: left;
    font-family: 'Glacial Indifference', sans-serif;
    padding-left: 70px;
}
/* Tools I Use */
.tooltitle {
    text-align: left;
    font-family: 'Glacial Indifference', sans-serif;
    src: url(/Resources/GlacialIndifference-Regular.woff);
    padding-left: 70px;
    
    }
    .toolslist {
        display: flex;
        align-items: center;
        flex-direction: column; 
        list-style-type: none;
        background-color: #F6CBC2;
        font-family: 'Glacial Indifference', sans-serif;
        font-size: 24px;
        margin-left: 120px;
        height: 100%;
        width: calc(100% - 280px);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        
    }
    
    .toolslist li {
        justify-content: center;
        align-items: center;
    }
/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 500px;
    background-color:  #DAE3EB
    }
    
      .left-column4 {
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .right-column4 {
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 10px;
      }
      
      .right-column4 h1 {
        margin-left: 0px;
        border-top: 10px;
        padding-top: 10px;
        margin-top: 30px;


      }
      
      .right-column4 h3 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
       


.form-row1 {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}
.form-row2 {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    margin-bottom: -20px;
    border-bottom: 0;
}

.form-input {
    display: block;
}
h3 {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #22181c;
}

#contact-form-email{
    width: 75%;
    height: 20px;
    margin-right: 140px;
    font-family: 'Glacial Indifference', sans-serif;
}
#contact-form-message {
    width: 75%;
    height: 100px;
    font-family: 'Glacial Indifference', sans-serif;
}

.form-error {
    color: red;
}

#rectangle {
    margin-top: 100px;
    width: 100%;
    height: 12.205px;
    background: linear-gradient(180deg, #C0D2E1 -64.06%, #C0D2E1 -34.9%, rgba(192, 210, 225, 0.00) 27.08%, rgba(192, 210, 225, 0.00) 32.55%, #C0D2E1 77.21%);
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #f48a74;
}
